<h2>Reactive: Basic</h2>
<hr>

<div class="row">
  <div class="col">
    <form [formGroup]='form' (ngSubmit)='onSubmit()' autocomplete="off">

      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">

          <input type="text"
                 class="form-control"
                 formControlName="name"
                 placeholder="Product name">

          <span *ngIf='isInvalidField("name")'
                class="form-text text-danger">
            {{ getFieldError("name") }}
          </span>
        </div>
      </div>

      <!-- Price field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 formControlName="price"
                 placeholder="Product price">
          <span *ngIf='isInvalidField("price")' class="form-text text-danger">
              {{ getFieldError("price") }}
          </span>
        </div>
      </div>

      <!-- Stock field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 formControlName="stock"
                 placeholder="Product stock">

          <span *ngIf='isInvalidField("stock")' class="form-text text-danger">
              {{ getFieldError("stock") }}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit"
                  class="btn btn-primary float-end">
            Save
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ form.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ form.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ form.touched }}</pre>

    <span>Value</span>
    <pre>{{ form.value | json }}</pre>

    <span>Errors</span>
    <pre>{{ form.errors | json }}</pre>

    <span>Price</span>
    <pre>{{ form.controls["price"].value }}</pre>

    <span>Product</span>
    <pre>{{ form.controls["name"].value }}</pre>

    <span>Price - Errors</span>
    <pre>{{ form.controls["price"].errors | json }}</pre>

    <span>Product - Errors</span>
    <pre>{{ form.controls["name"].errors | json }}</pre>
  </div>
</div>
